<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
 -->
  <connectionStrings>
    <add name="StokaConnectionString"
      connectionString="Data Source=SQL5028.myASP.NET;Initial Catalog=DB_A12E32_stoka;User Id=DB_A12E32_stoka_admin;Password=stocka12" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
      
    -->
    <!--<customErrors defaultRedirect="~/Shared/Error" redirectMode="ResponseRewrite"
       mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="~/Greska/InternalError"/>
      <error statusCode="404" redirect="~/Greska/NotFound" />
      <error statusCode="403" redirect="~/Greska/BadRequest" />
    </customErrors>-->
  </system.web>
  <system.net>
    <mailSettings xdt:Transform ="Replace">
      <smtp deliveryMethod="Network" >
        <network host="mail.stockatraders.com" userName="stocka.trader@stockatraders.com" password="admin@mail" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>